#answers{
    display: none;
    background-color: #DFFDFB;
    opacity: 0.6;
  }
  #hide{
    display: none;
    height: 70px;
    font-size: 20px;
    background-color: #DFFDFB;
    opacity: 0.6;
  }